<div class="hamburger-panel">
    <nav>
        <ul>
            <li><a href="#" data-local-action="navigateToHome">Home</a></li>
            <li><a href="#" data-local-action="navigateToCreatePost">Create Post</a></li>
            <li><a href="#" data-local-action="navigateToCreatePostFromRSS">Create Post From RSS</a></li>
            <li><a href="#" data-local-action="navigateToAnimationsSettings">Animations Settings</a></li>
            <li><a href="#" data-local-action="navigateToVoiceSettings">Voice Settings</a></li>
            <li><a href="#" data-local-action="navigateToMusicSettings">Music Settings</a></li>
            <li><a href="#" data-local-action="navigateToApiKeysSettings">API Keys Settings</a></li>
        </ul>
    </nav>
</div>
